:root {
    --logo-color: #4d5ae5;
    --logo-color-2: #2e2f42;
    --color-3: #404bbf;
    --color-4: #434455;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.header {
    text-decoration: none;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;    
        color: var(--logo-color);
        text-decoration: none;
}

.header-logo-span {
    color:var(--logo-color-2);
}

.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--logo-color-2);
}

.header-link:hover,
.header-link:focus {
    color: var(--color-3)
}

.header-adress {
        font-style: normal;
}

.header-adress-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-4);
        font-style: normal;
}

.header-adress-link:hover,
.header-adress-link:focus {
    color: var(--color-3);
}

.hero {
    background-color: #2e2f42;
}

.hero-title {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        background-color: #2E2F42;
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
            width: 169px;
            height: 56px;
            left: 636px;
            top: 428px;
        background-color: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0;
        cursor: pointer;
}

.goals-title {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.goals-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.activities-title {
    font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}

.team-title {
    font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
}

.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.team {
    background-color: #F4F4FD;
}

.team-text {
    font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
}

.footer {
    background-color: #2E2F42;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--logo-color);
}

.footer-logo-span {
        color: #F4F4FD;
        text-decoration: none;
}

.footer-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #E7E9FC;
}

.portfolio-hidden {
    visibility: hidden;
}

.portfolio-btn {
font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    width: 116px;
    height: 48px;
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: #404BBF;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        color: #FFFFFF;       
        border: 1px solid #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

.portfolio-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--logo-color-2);
    }

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-4);
}